In [1]:
# Dataset storage
import pandas as pd

# Model saving
import pickle

import warnings
warnings.filterwarnings('ignore') #turn off warning

---
# Model Inference

case - Predicting whether the customer is satisfied with the service based on the survey they filled after the flight

## Importing model

In [2]:
with open('model_xgb.pkl', 'rb') as file:
  model = pickle.load(file) # type:ignore

## Making Function to Interpet the Result

In [3]:
def interpretation (prediction):
    try :
        value = prediction[0]
        match prediction :
            case 0 :
                return "Neutral or Dissatisfied"
            case 1 :
                return "Satisfied"
    except Exception as e:
            print(f'Error occurred: {e}')
            return

## New User Case

### Define specification for prediction

In [4]:
data = {
    'Gender': 'Male',
    'Customer Type': 'Loyal Customer',
    'Age': 45,
    'Type of Travel': 'Business travel',
    'Class': 'Eco Plus',
    'Flight Distance': 1500,
    'Inflight wifi service': 4,
    'Departure/Arrival time convenient': 3,
    'Ease of Online booking': 4,
    'Gate location': 3,
    'Food and drink': 4,
    'Online boarding': 5,
    'Seat comfort': 3,
    'Inflight entertainment': 4,
    'On-board service': 4,
    'Leg room service': 3,
    'Baggage handling': 5,
    'Checkin service': 4,
    'Inflight service': 4,
    'Cleanliness': 4,
    'Departure Delay in Minutes': 5,
    'Arrival Delay in Minutes': 10.0

}
data = pd.DataFrame([data]) # type:ignore
data

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,45,Business travel,Eco Plus,1500,4,3,4,3,...,3,4,4,3,5,4,4,4,5,10.0

In [5]:
data.info() # type: ignore

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 22 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             1 non-null      object
 1   Customer Type                      1 non-null      object
 2   Age                                1 non-null      int64
 3   Type of Travel                     1 non-null      object
 4   Class                              1 non-null      object
 5   Flight Distance                    1 non-null      int64
 6   Inflight wifi service              1 non-null      int64
 7   Departure/Arrival time convenient  1 non-null      int64
 8   Ease of Online booking             1 non-null      int64
 9   Gate location                      1 non-null      int64
 10  Food and drink                     1 non-null      int64
 11  Online boarding                    1 non-null      int64
 12  Seat comfort                       1 non-null      int64
 13  Inflight entertainment             1 non-null      int64
 14  On-board service                   1 non-null      int64
 15  Leg room service                   1 non-null      int64
 16  Baggage handling                   1 non-null      int64
 17  Checkin service                    1 non-null      int64
 18  Inflight service                   1 non-null      int64
 19  Cleanliness                        1 non-null      int64
 20  Departure Delay in Minutes         1 non-null      int64
 21  Arrival Delay in Minutes           1 non-null      float64
dtypes: float64(1), int64(17), object(4)
memory usage: 308.0+ bytes

### Prediction

In [6]:
prediction = model.predict(data)
print('Prediction : ',prediction, '-', interpretation(prediction))

Prediction :  [1] - Satisfied

Based on our model, we will say that with based on the survey given to the customer, **The Customer is satisfied with the service**